.header, .hero, .body, .bar, .footer{
	background-color: purple;
	margin-bottom: 10px;
}
.box{
	margin: 20px 0;
	min-height: 50px;
	background-color: white;
	font-size: 30px;
	color: black;
}
.blue{
	background-color: red;
}